*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #745757;
}

.calendar{
    width: 250px;
    background-color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    text-align: center;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7),
                0 0 5px 0 rgba(0, 0, 0, 0.5),
                0 0 5px 0 rgba(0, 0, 0, 0.3),
                1px 0 4px 1px rgba(0, 0, 0, 0.3),
                inset 0 0 3px 0 rgba(0, 0, 0, 0.7),
                inset 0 0 10px 0 rgba(0, 0, 0, 0.5),
                inset 0 -5px 1px 0 rgba(0, 0, 0, 0.2),
                inset 0 -5px 5px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #b9b9b944);
}

.calendar .month, .calendar .year{
    width: 100%;
    background: #ff0707;
    letter-spacing: 3px;
    border-radius: 8px 8px 0 0;
    padding: 15px 0;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    text-shadow: -1px -1px 0 rgb(255 255 255 / 50%),
                 1px 1px 0 rgb(0 0 0 / 25%),
                 3px 3px 3px rgb(0 0 0 / 25%),
                 10px 10px 20px rgb(0 0 0 / 50%),
                 1px 1px 1px rgb(0 0 0 / 50%);
    transition: 0.4s;
}

.calendar .year{
    border-radius: 0 0 8px 8px;
}

.calendar .month:hover, .calendar .year:hover{
    background: #111;
}


.calendar .day{
    margin-top: 15px;
    font-size: 28px;
    font-weight: 800;
    color: #0a0a0a;
    letter-spacing: 2px;
    text-shadow: -1px -1px 0 rgb(255 255 255 / 50%),
                 1px 1px 0 rgb(0 0 0 / 25%),
                 3px 3px 3px rgb(0 0 0 / 25%),
                 10px 10px 20px rgb(0 0 0 / 50%),
                 1px 1px 1px rgb(0 0 0 / 50%);
}


.calendar .date{
    font-size: 100px;
    font-weight: 800;
    color: #fff;
    text-shadow: -1px -1px 0 rgb(255 255 255 / 50%),
                1px 1px 0 rgb(0 0 0 / 25%),
                3px 3px 3px rgb(0 0 0 / 25%),
                10px 10px 20px rgb(0 0 0 / 50%),
                3px 5px 5px rgb(0 0 0 / 50%);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #0400ff;
}